# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build
/dist
/.next
/out

# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*



# travel guide photo originals (see scripts/travel-photos/README.md)
/raw-photos
